<section class="hero is-light is-medium">
	<div class="hero-body">
		<div class="container">
			<div class="title is-12 has-text-centered">Test</div>
			<div class="columns is-multiline">
				{{#each this}}
					<div class="column is-one-quarter">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src={{this.img}}>
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-content">
										<p class="title is-4">{{this.title}}</p>
									</div>
								</div>
							</div>
							<div class="content">
								{{this.desc}}
								{{this.link}}
							</div>
						  <footer class="card-footer">
						    <a class="card-footer-item open-modal" id={{this._id}}>Comment</a>
						    <div class="modal {{this._id}}">
							  <div class="modal-background"></div>
							  <div class="modal-card">
							    <header class="modal-card-head">
							      <p class="modal-card-title">Comment on {{this.title}}</p>
							    </header>
							    <section class="modal-card-body">
							      <div class="field-body">
							        <div class="field">
							          <div class="control">
							            <textarea class="textarea" placeholder="Comment here"></textarea>
							          </div>
							        </div>
							      </div>
							    </section>
							    <footer class="modal-card-foot">
							       <div class="field is-grouped is-grouped-centered">
							        <p class="control">
							          <a class="button is-primary" value="{{this._id}}">Submit</a>
							        </p>
							        <p class="control">
							          <a class="button is-light close-modal">Cancel</a>
							        </p>
							      </div>
							    </footer>
							  </div>
							</div>
						    <a class="card-footer-item">Delete</a>
						  </footer>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</section>


