
		<div class="container is-fluid">
			<div class="title is-12 has-text-centered">Test</div>
			<div class="tile is-ancestor">
				{{#each card}}
					<div class="tile is-3 is-vertical">
						<div class="tile is-parent is-vertical box">
							<div class="tile is-child is-vertical">
								<figure class="image is-4by3">
									<img src={{img}}>
								</figure>
							</div>
							<div class="tile is-child is-vertical">
								<div class="media">
									<div class="media-content">
										<p class="title is-4">{{title}}</p>
									</div>
								</div>
							</div>
							<div class="tile is-child is-vertical">
									{{desc}}						
							</div>
							<div class="tile is-child is-vertical">
									<a href="https://www.sciencenews.org{{link}}">Link</a>
							</div>
						  <footer class="tile is-child">
						    <a class="button is-primary open-modal" id={{_id}}>Comment</a>
							    <div class="modal {{_id}}">
								  <div class="modal-background"></div>
								  <div class="modal-card">
								    <header class="modal-card-head">
								      	<p class="modal-card-title">Comment on {{title}}</p>
								    </header>
								    <section class="modal-content">
							        	<div class="content">
							        		{{debug note}}
							        		{{#each note}}
							        		<form>
							        		<article class="message">
											  <div class="message-header">
											    <p>{{author}}</p>
											    <button class="delete delete-comment" aria-label="delete" id = "{{_id}}" type="submit"></button>
											  </div>
											  <div class="message-body">
											   {{text}}
											  </div>
											</article>
											</form>
											{{/each}}
							        	</div>
								    	<form action="/comment/{{_id}}" method="POST">
									        <div class="field content">

							        	      	<div class="control">
											        <input class="input is-danger" type="text" placeholder="Your name" name="author">
											     </div>
								          		<div class="control">
								            		<textarea class="textarea" placeholder="Comment here" type="text" name="comment"></textarea>
								          		</div>

										        <div class="field is-grouped is-grouped-centered">
									          		<button class="button is-primary" type="submit">Submit</a>
									          		<button class="button is-light close-modal">Cancel</a>
										        </div>
										
								        	</div>
									    </form>
								    </section>
								  </div>
							</div>
						  </footer>
						</div>
					</div>
				{{/each}}
			</div>
		</div>



